{% extends "base.html.twig" %}

{% block title %}{{ titre }}{% endblock %}

{% block content %}
    <h1>Ce Mail est deja utiliser</h1>
    <a href="/inscription">Veuillez réessayer s'il vous plait</a>
{% endblock %}



